body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: black;
}
ul
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 20px 0;
    background: #ffffff;
    display: flex;
    border-radius: 10px;
}
ul li
{
    list-style: none;
    text-align: center;
    display: block;
    border-right: 1px solid rgba(0,0,0,0.2);

}
ul li:last-child
{
    border-right: none;
}
ul li a
{
    text-decoration: none;
    padding: 0 50px;
    display: block;

}
ul li a .icon
{
    width: 40px;
    height: 40px;
    text-align: center;
    background: #ccc;
    overflow: hidden;
    margin: 0 auto 10px;
}
ul li a .icon .fa
{
    width: 100%;
    height: 100%;
    line-height: 40px;
    font-size: 34px;
    transition: 0.5s;
    color: #000;
}
ul li a:hover .icon .fa
{
    transform: translateY(-100%);
}
