.navbar {
    padding: 1rem !important;
    padding-right: 2rem !important;
    padding-left: 2rem !important;
}
.badge {
	position: relative;
    background: white;
    color: rgb(14, 135, 206);
    border-radius: 20%;
    padding: 20px;
    top:-1.6em;
    right:3em;
    font-size: 0.32em;
    font-weight: 100;

}

.badge:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 3px solid transparent;
	border-top-color: white;
	border-bottom: 0;
	margin-left: -18px;
	margin-bottom: -3px;
}