.navbar {
    /* padding: 1rem !important; */
    padding-right: 2rem !important;
    padding-left: 2rem !important;
}

.nav-item {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 35px;
    font-weight: lighter;
    margin-left: 49px;
    padding-top: 50px !important;
}
.badge {
    position: relative;
    background: white;
    color: rgb(14, 135, 206);
    border-radius: 20%;
    padding: 20px;
    left: 65px;
    font-size: 10px !important;
    font-weight: normal !important;
    top: -85px;
    padding: 4px 16px 3px 17px !important;
}

.badge:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 3px solid transparent;
    border-top-color: white;
    border-bottom: 0;
    margin-left: -18px;
    margin-bottom: -3px;
}
/* changed to width 4 */